body {
    padding: 50px;
    font-family: andale mono;
}

button {
    padding: 3px;
    font-family: andale mono;
}

button:hover {
    cursor: crosshair;
}

canvas {
    border: 1px solid black;
}
